<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206322555556-qt2ratom1g47bss6f4kdsh1p1jud60u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206322555556-qt2ratom1g47bss6f4kdsh1p1jud60u7</string>
	<key>API_KEY</key>
	<string>AIzaSyCRWV3C-wS7hcbDp45wX9J8jzfHnpYqzUk</string>
	<key>GCM_SENDER_ID</key>
	<string>206322555556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MohamedSaad.My-Market</string>
	<key>PROJECT_ID</key>
	<string>my-market-48b06</string>
	<key>STORAGE_BUCKET</key>
	<string>my-market-48b06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206322555556:ios:81c54917b585ad0455e431</string>
</dict>
</plist>